<table class="table table-responsive volumes-table">
  <tr>
    <th>Name</th>
    <th>Size (GB)</th>
    <th>Status</th>
    <th>Connected To</th>
    <th><button class="btn btn-info btn-volumes-refresh" data-team-action="refresh-volumes"><i class="fa fa-refresh"></i> Refresh</button></th>
  </tr>

  {% for v in t.volumes|dictsort:"attached_as"|dictsort:"attached_to"|dictsort:"status" %}
    <tr>
      <td>{{ v.name }}</td>
      <td>{{ v.size }}</td>
      <td>{{ v.status }}</td>
      {% if v.attached_to %}
        <td>Attached to <b>{{ v.attached_to.name }}</b> as {{ v.attached_as }}</td>
      {% else %}
        <td>Not attached</td>
      {% endif %}
      <td>
    </tr>
  {% endfor %}

</table>
